%flexBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.flexBox__card{
   @extend %flexBox;
   
   background: var(--grey-1);
   padding: 1rem;

   @media (max-width: 450px){
    display: flex;
    width: 400px; 

   
}
}

.flexBox__container {
    width: 34.375rem;
    height: 5.4375rem;
    flex-direction: column;
    
    @media (max-width: 450px){
        display: flex;
        margin-right: 180px;
        justify-content: flex-start;
        width: 450px; 

}
}

