%input {
    width: 314px;
    height: 48px;
    border-radius: 0.5rem;
    border: 2px solid var(--grey-2); 
    padding: 0rem, 1rem, 0rem, 1rem;
    gap: 0.625rem;
    background: var(--grey-2);
    font-family: var(--font-primary);
    padding-left: 0.625rem;


}

.select {
    @extend %input;
    color: var(--grey-3);    
    padding: 0rem 1rem 0rem 1rem;
    position: relative;
    border: 6px solid transparent;
    
}

.inputs{
    @extend %input;
    color: var(--grey-4);
}