.flexBox{
    border: 1px solid var(--grey-2);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 22.1875rem;
    height: 6rem;
    margin-top: 2rem;
    
}

.flexValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexValue span{
    color: var(--color-primary);
}