.flexBox{
    display: flex;
    justify-content: space-between;
    

    @media (max-width: 450px){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    

    }
}
 .flexTotalMoney {
    @media (max-width: 450px){
        display: flex;
        justify-content: flex-end;
        
    }
 }