.flexBox{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 28.25rem;
    padding: 1rem;
    gap: 4rem;
   
    @media (max-width: 450px){
        display: flex;
        margin-right: 150px;
        justify-content: flex-start;
        width: 450px; 
        height: 5rem;
        flex-wrap: wrap;
        
       
    }
}

h1 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
}

